<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbee.backend.repository.PopupMapper">
    <select id="getPopupStores" resultType="popupStoreDto">
        SELECT *
        FROM popupstore
        order by name
    </select>
    <select id="searchPopupStores" parameterType="String" resultType="popupStoreDto">
        SELECT *
        FROM popupstore
        WHERE name like "%"#{keyword}"%"
           or category like "%"#{keyword}"%"
           or address like "%"#{keyword}"%"
           or locale like "%"#{keyword}"%"
           or description like "%"#{keyword}"%"
        order by name
    </select>
    <select id="getPopupStore" parameterType="String" resultType="popupStoreDto">
        SELECT *
        FROM popupstore
        WHERE name = #{name}
    </select>
</mapper>